<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="{{ctrl.appStates.DASHBOARD}}">Clínica Demo</a>
      </div>
      <div collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse">
	     <ul class="nav navbar-nav">
<!-- 			<li ng-class="ctrl.currentState.name == ctrl.appStates.HOME ? 'active' : ''"><a ui-sref="{{ctrl.appStates.HOME}}">Hola Michel!</a></li> -->
			<li><a>Hola Michel!</a></li>
	     </ul>
          <ul class="nav navbar-nav navbar-right">
		     <li><a><span class="glyphicon glyphicon-bell"></span> Notificaciones</a></li>
		     <li><a><span class="glyphicon glyphicon-cog"></span> Configuración</a></li>
		     <li><a ui-sref="{{ctrl.appStates.LOGOUT}}"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
		  </ul>
      </div>
  </div>
</nav>