<nav class="navbar navbar-default">
	<div class="container-fluid">
<!-- 		<div class="navbar-header"> -->
<!-- 	    	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span> Inicio </a> -->
<!-- 	  	</div> -->
	  	<ul class="nav navbar-nav">
    	    <li ng-class="ctrl.currentState.name == ctrl.appStates.HOME ? 'active' : ''"><a ui-sref="{{ctrl.appStates.HOME}}">Inicio</a></li>
            <li ng-class="ctrl.currentState.name == ctrl.appStates.SERVICES ? 'active' : ''"><a ui-sref="{{ctrl.appStates.SERVICES}}">Servicios</a></li>
            <li ng-class="ctrl.currentState.name == ctrl.appStates.ABOUT ? 'active' : ''"><a ui-sref="{{ctrl.appStates.ABOUT}}">Sobre Nosotros</a></li>
            <li ng-class="ctrl.currentState.name == ctrl.appStates.TESTIMONIALS ? 'active' : ''"><a ui-sref="{{ctrl.appStates.TESTIMONIALS}}">Testimonios</a></li>
            <li ng-class="ctrl.currentState.name == ctrl.appStates.CONTACT ? 'active' : ''"><a ui-sref="{{ctrl.appStates.CONTACT}}">Contacto</a></li>
            <li ng-class="ctrl.currentState.name == ctrl.appStates.LOGIN ? 'active' : ''"><a ui-sref="{{ctrl.appStates.LOGIN}}">Login</a></li>
	  	</ul>
	</div>
</nav>