<div id="public-layout" class="container">
	
	<div class="header-wrapper row">
		<div class="col-xs-12">
			<public-header></public-header>
		</div>
	</div>
	
	<div class="nav-wrapper row row-no-gutters">
		<div class="col-xs-12">
			<public-nav></public-nav>
		</div>
	</div>
	
	<div class="central-wrapper row">
		<div class="col-xs-12">
			
			<section>
				<article>
					<div class="row" ng-repeat="noticia in ctrl.news">
						<div class="col-xs-5">
							<img src="{{noticia.imgUrl}}"/>
						</div>
						<div class="col-xs-7">
								<header>
									<h3>{{noticia.title}}</h3>
									<span class="byline">By {{noticia.author}}</span>
								</header> 
								<p>{{noticia.description}}</p>				
						</div>
					</div>
				</article>
			</section>
			
		</div>
	</div>
	
	<div class="footer-wrapper row">
		<div class="col-xs-12">
			<public-footer></public-footer>
		</div>
	</div>
	
</div>