<div id="dashboard-view">
    <div class="wrapper-header">
    	<main-header></main-header>
    </div>
    <div class="wrapper-left-bar">
    	<side-menu></side-menu>
    </div>
    <div class="wrapper-content">
    	<h1>Logica de Controlador de Url Dashboard</h1>
    </div>
    <div class="wrapper-footer">
    	<main-footer></main-footer>
    </div>
</div>