/*
	Custom Bootstrap Section
*/

.row-no-gutters > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/*
	App Styles Section
*/

#public-layout {
	border: #e7e7e7 1px solid;
	border-radius: 5px;
}
#public-layout .header-wrapper {
	background: url(../img/public-bg-banner.jpg);
	background-size: 100% 100%;
	color: white;
	height: 300px;
	display: flex;
    text-align: right;
    align-items: flex-end;
}
#public-layout .navbar {
	margin-bottom: 0;
}
#public-layout .navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
#public-layout .navbar-collapse.in {
    padding-left:30px;
}
#public-layout .central-wrapper {
	min-height: 250px;
}
#public-layout .central-wrapper section article img {
	width: 40%;
}
#public-layout .footer-wrapper {
	background-color: #f8f8f8;
}

/*
	Private Layout
*/

#private-layout .header-wrapper {
	background: url(../img/private-bg-banner.jpg);
	background-size: 100% 100%;
	color: white;
	height: 100px;
	display: flex;
    text-align: right;
    align-items: flex-end;
}
#private-layout .central-wrapper {
	padding-top: 15px;
    padding-bottom: 15px;
    min-height: 250px;
}
#private-layout .central-wrapper > div {
	min-height: inherit;
}

#private-layout .footer-wrapper {
	background-color: #f8f8f8;
}
#private-layout .navbar {
	margin-bottom: 0;
}

@media only screen and (max-width : 768px) {
	#private-layout .header-wrapper h1 {
		font-size : 25px;
	}
}