<div id="private-layout" class="container-fluid">
	<div class="header-wrapper row">
		<div class="col-xs-12">
			<private-header></private-header>
		</div>
	</div>
	
	<div class="nav-wrapper row row-no-gutters">
		<div class="col-xs-12">
			<private-nav></private-nav>
		</div>
	</div>
	
	<div class="central-wrapper row">
		<div class="aside-wrapper col-xs-5 col-md-4 col-lg-2">
			<private-aside></private-aside>
		</div>
		<div class="content-wrapper col-xs-7 col-md-8 col-lg-10">
			Este es el contenido del state de los pacientes.
		</div>
	</div>
	
	<div class="footer-wrapper row">
		<div class="col-xs-12">
			<private-footer></private-footer>
		</div>
	</div>
	
</div>