<ul class="nav nav-pills nav-stacked">
  <li role="presentation" ng-class="ctrl.currentState.name == ctrl.appStates.DASHBOARD ? 'active' : ''"><a ui-sref="{{ctrl.appStates.DASHBOARD}}">Dashboard</a></li>
  <li role="presentation" ng-class="ctrl.currentState.name == ctrl.appStates.PATIENTS ? 'active' : ''"><a ui-sref="{{ctrl.appStates.PATIENTS}}">Pacientes</a></li>
  <li role="presentation" ng-class="ctrl.currentState.name == ctrl.appStates.APPOINTMENTS ? 'active' : ''"><a ui-sref="{{ctrl.appStates.APPOINTMENTS}}">Citas</a></li>
  <li role="presentation" ng-class="ctrl.currentState.name == ctrl.appStates.APPOINTMENTS_REQUESTS ? 'active' : ''"><a ui-sref="{{ctrl.appStates.APPOINTMENTS_REQUESTS}}">Solicitud de Citas</a></li>
  <li role="presentation" ng-class="ctrl.currentState.name == ctrl.appStates.MESSAGES ? 'active' : ''"><a ui-sref="{{ctrl.appStates.MESSAGES}}">Mensajes <span class="badge">42</span></a></li>
  <li role="presentation" ng-class="ctrl.currentState.name == ctrl.appStates.BILLING ? 'active' : ''"><a ui-sref="{{ctrl.appStates.BILLING}}">Facturación</a></li>
</ul>