<div id="public-layout" class="container">
	
	<div class="header-wrapper row">
		<div class="col-xs-12">
			<public-header></public-header>
		</div>
	</div>
	
	<div class="nav-wrapper row row-no-gutters">
		<div class="col-xs-12">	
			<public-nav></public-nav>
		</div>
	</div>
	
	<div class="central-wrapper row">
		<div class="col-xs-12 col-md-5 col-lg-4">
			
			<section>
				<h3>Acceda a su cuenta</h3>
				<form>
					
					<div class="form-group">
					  	<label for="email">E-Mail:</label>
					  	<input type="email" class="form-control" id="email" ng-model="ctrl.email">
					</div>
					
					<div class="form-group">
					  	<label for="pwd">Contraseña:</label>
					  	<input type="password" class="form-control" id="pwd" ng-model="ctrl.password">
					</div>
					
					<button type="submit" class="btn btn-default" ng-click="ctrl.login()">LOGIN</button>
					
				</form>
			</section>
			
		</div>
	</div>
	
	<div class="footer-wrapper row">
		<div class="col-xs-12">
			<public-footer></public-footer>
		</div>
	</div>
	
</div>